body{
    background-image: url(https://i.postimg.cc/sX39Yn6V/pic.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    color:#fff
}
.content {
    margin-top: 54px;
    }
    .header {
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    }
    .left-title {
    width: 80px;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif; 
    float: left;
    }
    .right-title {
    width: 150px;
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
    float: right;
    color: #fff;
    }
    .quiz-body {
    margin-top: 12px;
    padding-bottom: 50px;
    color:#ffffff
    }
    .option-block-container {
    margin-top: 20px;
    max-width: 420px;
    }
    .option-block {
    padding: 10px;
    background: rgb(113, 117, 120);
    border: 1px solid #454748;
    margin-bottom: 10px;
    cursor: pointer;
    }
    .result-question {
    font-weight: bold;
    }
    .c-wrong {
    margin-left: 20px;
    color: #ff0000;
    }
    .c-correct {
    margin-left: 20px;
    color: green;
    }
    .last-row {
    border-bottom: 1px solid #ccc;
    padding-bottom: 25px;
    margin-bottom: 25px;
    }
    .res-header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    padding-bottom: 15px;
    }
    .option-block:hover{
        cursor: pointer;
        border: 2px solid #dcd8d8;
        color:#01080f;
        background-color:#50b397
    }
    .option.active{
        background-color:#87898a;
        color: #000000
    }